
body {
  margin: 0;
  padding: 0;
  color: black;
  background: white;
  font-family: serif;

}


.navbar{
  height: 100px;
  padding: 20px;
  color: black;
  background: snow;
  box-shadow: 1px 10px 20px;
  font-size: bold;
  padding-bottom: 39px;
}



.navbar-right { margin-right: 0px !important}
.log {
  margin: 5px 20px 0 0;
  color: white;
}
.videos {
  border: 1px solid red;
  height:400px;
}